.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}

.run-row {
	background-color: #eee;
	margin-bottom: 5px;
}

.run-data {
	line-height: 1.6em;
}
.date {
	background-color:orange;
	color:white;
	font-size: medium;
	font-weight: bold;
}

.speed {
	font-size: large;
	font-weight: bold;
	line-height: normal;
}

.run-actions {
	padding-top: 0.5em;
}

@media (min-width: 768px) { 
	.run-data{
		line-height: 3.0em;
		font-size: large;
	}

	.date{
		line-height: 1.5em;
		height: 50px;
	}

	.run-row{
		height: 50px;
	}

	.run-actions{
		line-height: 2.5em;
		padding-right: 30px;
	}
}

@media (min-width: 992px){
	.date{
		line-height: 3.0em;
	}
}