<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" ui-sref="public.home">
				<span class="glyphicon glyphicon-road"></span> Runner
			</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
			<ul class="nav navbar-nav navbar-right" ng-show="!user.name">
				<li>
					<a ui-sref="public.login">Sign in</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" ng-show="user.name">
				<li class="dropdown" dropdown>
					<a href="#" class="dropdown-toggle" dropdown-toggle  >Welcome, {{ user.name }} <span class="caret"></span></a>

					<ul class="dropdown-menu" dropdown-menu>
						<li><a ui-sref="runner.home">Runner</a></li>
						<li><a ui-sref="runner.stats">Statistics</a></li>
						<li><a href ng-click="signOut()">Sign out</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
