<div class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-4">
            <form ng-submit="submitLogin(user)" role="form">
                <h2 class="form-signin-heading">Sign in</h2>
                <input type="email" class="form-control" ng-model="user.email" placeholder="username" required autofocus/>
                <input type="password" class="form-control" ng-model="user.password" placeholder="password" required/>

                <button class="btn btn-block btn-primary" type="submit">Sign in</button>
            </form>
        </div>
        
        <div class="col-md-offset-2 col-md-4">
            <form ng-submit="registerUser(newUser)" role="form" ng-init="newUser = {}">
                <h2 class="form-signin-heading">or Register</h2>
                <input type="text" class="form-control" placeholder="name" ng-model="newUser.name" required autofocus/>
                <input type="email" class="form-control" placeholder="email" ng-model="newUser.email" required autofocus/>
                <input type="password" placeholder="password" class="form-control" ng-model="newUser.password" required>
                <input type="password" placeholder="confirm password" class="form-control"  ng-model="newUser.password_confirmation" required>
                <button class="btn btn-block btn-success" type="submit">Register</button>
            </form>
        </div>
    </div>
	
</div>